In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2020-11-24 23:20:12,-21.36,55.77,71.60,60,92,4.70
1,1,Hambantota,LK,2020-11-24 23:23:58,6.12,81.12,78.42,80,100,14.81
2,2,Vilyuysk,RU,2020-11-24 23:23:58,63.76,121.62,-0.78,91,100,8.93
3,3,Punta Arenas,CL,2020-11-24 23:23:13,-53.15,-70.92,48.20,66,75,16.11
4,4,Kaiserslautern,DE,2020-11-24 23:23:58,49.45,7.75,41.00,100,90,2.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                weights=temps, dissipating=False, 
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.fillna("NAM")                                   
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hambantota,LK,2020-11-24 23:23:58,6.12,81.12,78.42,80,100,14.81
9,9,Avarua,CK,2020-11-24 23:23:59,-21.21,-159.78,78.80,83,94,5.82
25,25,Balikpapan,ID,2020-11-24 23:24:00,-1.27,116.83,77.00,100,20,2.24
27,27,Butaritari,KI,2020-11-24 23:24:00,3.07,172.79,81.90,81,28,18.50
29,29,Nambucca Heads,AU,2020-11-24 23:24:00,-30.65,153.00,78.01,60,90,13.87
31,31,Vaini,TO,2020-11-24 23:24:01,-21.20,-175.20,82.40,74,75,9.17
39,39,Lorengau,PG,2020-11-24 23:24:01,-2.02,147.27,85.10,67,87,6.80
40,40,San Patricio,US,2020-11-24 23:20:34,28.02,-97.52,80.60,65,20,27.51
42,42,Touros,BR,2020-11-24 23:24:01,-5.20,-35.46,78.80,78,40,8.05
47,47,Tabou,CI,2020-11-24 23:24:02,4.42,-7.35,78.31,87,46,7.11

In [33]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1       Hambantota      LK     78.42   6.12   81.12
9           Avarua      CK     78.80 -21.21 -159.78
25      Balikpapan      ID     77.00  -1.27  116.83
27      Butaritari      KI     81.90   3.07  172.79
29  Nambucca Heads      AU     78.01 -30.65  153.00
31           Vaini      TO     82.40 -21.20 -175.20
39        Lorengau      PG     85.10  -2.02  147.27
40    San Patricio      US     80.60  28.02  -97.52
42          Touros      BR     78.80  -5.20  -35.46
47           Tabou      CI     78.31   4.42   -7.35

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hambantota,LK,78.42,6.12,81.12,Bungalow 63
9,Avarua,CK,78.80,-21.21,-159.78,Paradise Inn
25,Balikpapan,ID,77.00,-1.27,116.83,Grand Jatra Hotel Balikpapan
27,Butaritari,KI,81.90,3.07,172.79,Isles Sunset Lodge
29,Nambucca Heads,AU,78.01,-30.65,153.00,Marcel Towers Holiday Apartments
...,...,...,...,...,...,...
557,Allada,BJ,84.20,6.67,2.15,Royaume hotel d' Allada
559,Tari,NG,79.84,12.41,4.49,
560,Port Macquarie,AU,78.01,-31.43,152.92,Rydges Port Macquarie
567,Atabayan,PH,78.30,10.68,122.42,Bearland Residences
569,Bonthe,SL,79.32,7.53,-12.51,Bonthe Holiday Village

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))